/node_modules
/public/hot
/public/storage
/public/css/app.css
/public/css/admin/style.css
/public/js/app.js
/public/js/admin/app.js
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/docker-compose
Dockerfile
docker-compose.yml
